DEBUG=True
SECRET_KEY=dky-sj%3w5+hpt-8c2yupbv7hyo654q*+0bb-6f(rmrn43v0s3
SQLITE_URL=sqlite:///my-local-sqlite.db
CACHE_URL=memcache://127.0.0.1:11211,127.0.0.1:11212,127.0.0.1:11213
REDIS_URL=rediscache://127.0.0.1:6379/1?client_class=django_redis.client.DefaultClient&password=ungithubbed-secret
DATABASE_NAME=testing
DATABASE_USER=username
DATABASE_PASS=password
DATABASE_HOST=localhost
DATABASE_PORT=3306